
@{
    ViewData["Title"] = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Store</h1>
<div id="Store"></div>

@section  scripts{
    <script src="~/js/react/dist/Store.bundle.js"></script>
}